::selection {background-color: var(--White); color: var(--Black);}
::-moz-selection {background-color: var(--White); color: var(--Black);}

blockquote cite, blockquote small {font-size: 1rem;}
blockquote em, blockquote i, blockquote cite {font-style: normal;}
small{font-size: 0.875rem; line-height: 1.313rem; display: block;}/*-- dont change fs --*/
big {font-size: 125%;}
sup, sub {font-size: 0.625rem; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: 0;}
dl{margin-bottom: 24px; font-size: 1rem; line-height: 1.75rem; font-weight: 600;}
dl:last-child{margin-bottom: 0;}
dl dt::before{width: 29px; height: 1px; margin-right: 11px; background-color: var(--Deep-Teal); content: ""; display: inline-block; vertical-align: middle;}
blockquote dl dt::before{background-color: var(--White);}
dd {margin-bottom: 24px;}
ul {list-style: none; margin: 0 0 16px 44px;}
ul > li {counter-increment: li; position: relative; margin-bottom: 11px;}
ul > li:before{ top: -1px; left: -44px; width: 29px; height: 29px; border-radius: 50%; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='29' viewBox='0 0 30 29' fill='none'%3E%3Ccircle opacity='0.3' cx='15' cy='14.5' r='14.5' fill='%238B52FC'/%3E%3Cpath d='M10.5 14.6644L13.8362 18L20.0006 11' stroke='%238B52FC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); content: ""; position: absolute; } 
ul.no-disc > li::before{display: none;}
li > ul {margin: 25px 0 26px 25px;}
ol {counter-reset: section; list-style: none; margin: 0 0 32px 32px;}
ol > li {counter-increment: li; position: relative; margin-bottom: 8px;}
ol > li:before{width: 24px; height: 24px; background-color: var(--Sky-Blue); color: var(--White); counter-increment: section; content: counter(section, decimal); top: 0px; left: -32px; position: absolute; font-size: 17px; line-height: 24px; font-weight: 600; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
li > ol {margin: 25px 0 26px 25px;}
ul.no-bullet li::before{display: none;}
ol[style='list-style-type: upper-roman;']{margin-left: 22px;}
ol[style='list-style-type: upper-roman;'] > li::before{display: none;}
ol[style='list-style-type: lower-roman;']{margin-left: 22px;}
ol[style='list-style-type: lower-roman;'] > li::before{display: none;}
img {-ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; max-width: 100%; height: auto;}
figure {margin: 0;}
fieldset {border: none; margin: 0; padding: 0;}
legend {white-space: normal;}


/* Alignment */
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto; text-align: center;}
.hide {display: none;}

img.alignnone{margin: 25px 0 25px; clear: both; display: block;}
img.alignleft{margin: 25px 25px 25px 0;}
img.alignright{margin: 25px 0 25px 25px;}
img.aligncenter{margin: 25px auto; clear: both;}



/*-- flex css starts here --*/
.flex{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; width: 100%; }
.flex-vcenter{-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.flex-content-center{-ms-justify-content: center; -webkit-justify-content: center; justify-content: center; }
.flex-center{-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-justify-content: center; -webkit-justify-content: center; justify-content: center; }
.flex-nowrap{flex-wrap: nowrap; }
.flex-end{align-items: flex-end;}
.flex-start{align-items: flex-start;}
.row-reverse{flex-direction: row-reverse;}
.inline-flex { display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: -webkit-inline-flexbox; display: inline-flex; }
.no-wrap{flex-wrap: nowrap;}
.flex-col{flex-direction: column;}
.flex-content-end{justify-content: flex-end;}

a{  transition: all 0.5s ease;}