
@import url('_colors.css');
@import url('_reset.css');
@import url('_header.css');
@import url('_footer.css');

 @font-face {
     src: url("./fonts/Geometria-Light.ttf") format("truetype");
     font-family: "Geometria";
     font-weight: 300;
     font-display: swap;
}
 @font-face {
     src: url("./fonts/Geometria.ttf") format("truetype");
     font-family: "Geometria";
     font-weight: 400;
     font-display: swap;
}
 @font-face {
     src: url("./fonts/Geometria-Medium.ttf") format("truetype");
     font-family: "Geometria";
     font-weight: 500;
     font-display: swap;
}
 @font-face {
     src: url("./fonts/Geometria-Bold.ttf") format("truetype");
     font-family: "Geometria";
     font-weight: 700;
     font-display: swap;
}
 @font-face {
     src: url("./fonts/Geometria-ExtraBold.ttf") format("truetype");
     font-family: "Geometria";
     font-weight: 800;
     font-display: swap;
}




body{font-family: "Geometria", sans-serif; background: #fff; position: relative; overflow-x: hidden;}
.site-main-cover{padding-top: 71px; background: #e2fcff;}

.pagelayout-login #page{background: transparent;}

#page-wrapper #page:not(.drawers){padding: 80px 0 80px !important;}
.login-container{border-radius: 0; padding: 49px 50px 50px; margin: 0;}
.login-container h1.login-heading, .login-container .login-heading.h1{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}
form input.form-control-lg{ border: 1px solid oklch(67.22% 0.0355 279.77deg); width: 100%; font-size: 17px; font-weight: 500; line-height: 28px; letter-spacing: 0px; box-shadow: none; padding: 15px 16px 16px; vertical-align: middle; height: auto; border-radius: 5px; background: #fff; color: oklch(29.74% 0.0362 281.74deg); font-family: "Geometria"; appearance: none; opacity: 1; outline: none; transform: 0.5s all ease; text-transform: capitalize;}
form input.form-control-lg:focus{box-shadow: 0 0px 1px #217177; border-color: #217177;}
form .login-form-submit{text-align: right;}

.btn{
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 18px 9px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  transition: all 0.5s ease;
  text-transform: capitalize;
}
.btn.btn-lg{
    font-size: 18px;
    line-height: 24px;  padding: 13px 24px 12px;}
.btn.btn-primary{background-color: #ff6c4b; color: #fff;}
.btn.btn-primary:hover{background-color: #217177; color: #fff;}
.btn.btn-secondary{
    background-color: #e2fcff;
  border: 1px solid #217177;
}
.btn.btn-secondary:hover{
    background-color: #217177;
    color: #fff;
}
.btn.btn-secondary.bg-blue{
    background-color: #217177;
    color: #fff;
}
.btn.btn-secondary.bg-blue:hover{
    border-color: #ff6c4b;
    background-color: #ff6c4b; color: #fff;
}
.btn.radius-32{border-radius: 32px;}


form .login-form-submit button.btn-lg{width: 100%;}
.login-form-forgotpassword{text-align: right; padding-bottom: 9px;}
.login-form-forgotpassword a{
    font-size: 16px;
  line-height: 24px;
  color: #181818;
  text-decoration-color: #217177;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-line: underline;
  font-weight: 500;
}
.login-form-forgotpassword a:hover{
    color: #217177;
    text-decoration-color: transparent;
}
/* .login-signup{text-align: right;} */
form#guestlogin{margin-top: 16px;}
/* form#guestlogin{text-align: right;} */
